@media (min-width:768px){
    .versionMobile,
    .none{
        display: none;
    }
    html{scroll-behavior:smooth}
    *{
        text-decoration: none;
        list-style: none;
    }
    body{
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
    }
    strong{
        color:#4d6fa9;
    }
    #ACCUEIL,#A-PROPOS,footer,#COMPETENCE,#REALISATION{
        background-image: linear-gradient(to bottom,#000000bd,#000000c7),url(../img/imgattache.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    /* style section acceuil */
    #ACCUEIL {
        height: 100vh;
    }
    #ACCUEIL .p{
        color: #fff;
        width: 75%;
        font-size: 25px;
        font-style: italic;
        letter-spacing: 2px;
    }
    .presentation{
        padding-top: 45vh;
        display: flex;
        justify-content: space-around;
    }
    /* NAV BAR STYLE */
    nav{
        display: flex;
        width: 100%;
        /* height: 5vh; */
        position: fixed;
        justify-content: space-between;
        align-items: center;
    }
    nav a {
        display: inline-block;
    }
    nav > ul{
        margin: 10px;
    }
    nav > ul::after{
        content: "";
        display: block;
        clear: both;
    }
    nav li:hover .subMenu{
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 0px;
        padding: 0px;
        z-index: 1000;
    }
    .menu-acceuil:hover{
        border-top: 5px solid #e44d26;
        background-color: rgba(228, 77, 38, 0.15);
    }
    .subMenu li{
        border-bottom: 1px solid #ccc;
    }
    .subMenu li a{
        padding: 15px 30px;
        font-size: 13px;
        color: #222538;
        width: 270px;
    }
    nav > ul > li {
        float: left;
        position: relative;
    }
    .subMenu{
        display: none;
    }
    /* A-PROPOS */
    #A-PROPOS{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
    }
    .imgApropos{
        width: auto;
    }
    .imgProfil:hover{
        width: 320px;
        transition: 0.5s ease-out;
    }
    .contenair-apropos{
        width: 50vw; 
    }
    h2{
        color: #fff;
    }
    .apropos p{
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 2.5px;
    }
    .apropos p:nth-child(1){
        text-align: justify;
    }
    .apropos p:nth-child(2){
        text-align: justify;
    }
    .apropos  #readmore > .strong:nth-child(2){
        text-align: center;
    }

    /* COMPETENCE */
    #COMPETENCE{
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .info__bar{
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .skill__progress_bar{
        width: 40%;
    }
    .skill{
        width: 100%;
    }
    .bar{
        width: 100%;
        height: 20px;
        background-color: #333333;
    }
    .progress__bar{
        height: 100%;
        background-color: yellow;
    }
    /* frond-end */
    .html5{
        width: 90%;
    }
    .css3{
        width: 80%;
    }
    .javascript{
        width: 20%;
    }
    /* back-end */
    .python3{
        width: 8%;
    }
    .php{
        width: 10%;
    }
    .mysql{
        width: 10%;
    }
    .contenair-skill{
        display: flex;
        justify-content: space-around;
    }
    .title{
        text-align: center;
    }
    /* REALISATION */
    #REALISATION{
        height: 100vh;
    }
    #REALISATION h2{
        
        margin: 0;
    }
    .travail1{
        height: 210px;
        width: 300px;
        background-image: linear-gradient(to bottom,#00000075,#1c1515f3),url('../img/lettre.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .travail2{
        height: 210px;
        width: 300px;
        background-image: linear-gradient(to bottom,#00000075,#1c1515f3),url('../img/portfolio.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .travail3{
        height: 210px;
        width: 300px;
        background-image: linear-gradient(to bottom,#00000075,#1c1515f3),url('../img/liste.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .travail4{
        height: 210px;
        width: 300px;
        background-image: linear-gradient(to bottom,#00000075,#1c1515f3),url('../img/metojob.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .lienrealisation{
        display: flex;
        flex-direction: column;
    }
    .realisation{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .partieTwo,
    .partieOne{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
    }
    .aRealisation{
        text-align: center;
        background-color: yellow;
        width: auto;
        height: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    footer{
        height: 100vh;
        display: flex;
        justify-content: space-around;
    }
    form{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
        background-color: cadetblue;
    }
    .tableau{
        width: 60%;
    }
    input{
        padding: 10px 10px 10px 10px;
        margin-bottom: 10px;
    }
    /* btn dysplay nono */
    .Btn{
        display: none;
    }

}    